h1 {color: white;
    text-align: center;
    margin: 0 auto;
  }


  body {background-color: black;}

  img{width: 75%;
    height: auto;

  }
  p {color: white;  
}

td{ color: white; 

}
 